<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0" />
  <meta name="theme-color" content="#0569FF"/>
  {% if page.desc %}
    <meta content="{{ page.desc }}" name="description">
  {% endif %}
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  <meta name="author" content="{{ site.author.name }}">
  <meta name="baseurl" content="{{ site.baseurl }}">

  <title>
    {% if page.title != "index" %}
        {{ site.title }}|{{ page.title }}
    {% else %}
        {{ site.title }}
    {% endif %}
  </title>
  <!-- favicon -->
  <link rel="shortcut icon" href="{{ "/static/assets/img/favicon.ico" | prepend: site.baseurl }}">
  <link href="{{ "/static/css/head.css" | prepend: site.baseurl }}" rel="stylesheet">

  <!-- Google AdSense -->
  <!--
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6196184620190620",
      enable_page_level_ads: true
    });
  </script>
  -->
</head>
